token = "AQXXXXAVPfYrAATuwbsBeBh7k0mUiaiJQJJVOkA"
cloud_id = "b234iosabcdbhqhddsi0"
folder_id = "abcdf5ci0bnivqe8976h"
zone = "ru-central1-a"
image_id = "abcdfdgq11shr1g1nc0e"
public_key_path = "~/.ssh/appuser.pub"
subnet_id = "abc7jul0dtuihhl76892"
service_account_key_file = "key.json"
private_key = "~/.ssh/ubuntu"
